a {text-decoration: none;background-color: #ffaeae; border: solid red 3px;; margin-right: 264px; }
h1{border-bottom: solid rgb(230, 100, 25) 3px;}
.mm{    position: absolute;
    right: 310px;
    top: 209px;}
ol{    width: 40%;
    position: absolute;
    right: 22px;
    top: 248px;}
ul{ width: 40%;}
body{background-image: url(https://i.pinimg.com/originals/5a/c1/29/5ac1296b709f4427d4c7785a322d78a2.png);}
